@font-face {
  src: url('../fonts/woff/OpenSans-Light.woff') format('woff'),
    url('../fonts/woff2/OpenSans-Light.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('../fonts/woff/OpenSans-LightItalic.woff') format('woff'),
    url('../fonts/woff2/OpenSans-LightItalic.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url('../fonts/woff/OpenSans-Regular.woff') format('woff'),
    url('../fonts/woff2/OpenSans-Regular.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('../fonts/woff/OpenSans-Light.woff') format('woff'),
    url('../fonts/woff2/OpenSans-Italic.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url('../fonts/woff/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/woff2/OpenSans-SemiBold.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url('../fonts/woff/OpenSans-SemiBoldItalic.woff') format('woff'),
    url('../fonts/woff2/OpenSans-SemiBoldItalic.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
}

@font-face {
  src: url('../fonts/woff/OpenSans-Bold.woff') format('woff'),
    url('../fonts/woff2/OpenSans-Bold.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('../fonts/woff/OpenSans-BoldItalic.woff') format('woff'),
    url('../fonts/woff2/OpenSans-BoldItalic.woff2') format('woff2');
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
}
